admin  admin_tools  debug_toolbar  filebrowser  grappelli  tiny_mce

static/admin/
static/admin_tools/
static/debug_toolbar/
static/filebrowser/
static/grappelli/
static/tiny_mce/
private_settings.py
log/*.log
media/upfiles/*
media/
nppBackup/
*.pyc
*.zip
*.tar
*.gz
*.db