{% extends "core/main.html" %}

{% load core_tags %}
{% load compress %}

{% compress css %}
{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap3.min.css">
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom.css">

{% endblock css %}
{% endcompress %}

{% compress js %}
{% block js %}
    {{ block.super }}
    <script src="{{STATIC_URL}}js/bootstrap3.min.js"></script>
    <!--<script src="{{STATIC_URL}}js/tabber.js"></script>-->

{% endblock js %}
{% endcompress %}

{% block pagecontent %}
<div id="sidebar_layout">
    <div class="sidebar_layout-inner">
    <div class="grid-protection">
        <!-- CONTENT (start) -->
        <div id="content" role="main">
            <div class="inner home-corporate-style">
                <div class="article-wrap">
                    {% include "core/slider_n_tabs.html" %}
                    {% section_header 'Новости VIP GYM CLUB' %}
                    {%include "core/news.html" %}
                </div>
                <!-- article wrap (end)-->
            </div>
            <!-- .inner (end) -->
        </div>
        <!-- #content (end) -->
        <!-- CONTENT (end) -->  
    </div>
    <!-- .grid-protection (end) -->
</div>
<!-- .sidebar_layout-inner (end) -->
</div>
{% endblock pagecontent %}
