{% extends "core/main.html" %}

{% load core_tags %}

{% block pagecontent %}
<div id="sidebar_layout">
    <div class="sidebar_layout-inner">
    <div class="grid-protection">
        <!-- CONTENT (start) -->
        <div id="content" role="main">
            <div class="inner home-corporate-style">
                <div class="article-wrap">
                    <article id="post-">
                        <div class="learning-to-be-strong">
                            <div class="element element-slider element-slider-standard">
                                <div class="element-inner">
                                    <div class="element-inner-wrap">
                                        <div class="grid-protection">
                                            <script>
                                                jQuery(document).ready(function($) {
                                                    $(window).load(function() {
                                                        
                                                        // Initiate flexslider for this slider.
                                                        $('#tb-slider-home .flexslider').flexslider({
                                                            useCSS: false, // Avoid CSS3 glitches
                                                            video: true, // Avoid CSS3 glitches
                                                            smoothHeight: true,
                                                            animation: "fade",
                                                            // pauseOnHover: true - This was replaced with a custom solution to work with other controls, see below with "pause_on_hover" option.
                                                            slideshowSpeed: 5000,
                                                            directionNav: false,										controlsContainer: ".slides-wrapper-home",
                                                            start: function(slider) {
                                                                $('#tb-slider-home .image-link').click(function(){
                                                                    $('#tb-slider-home .flex-pause').hide();
                                                                    $('#tb-slider-home .flex-play').show();
                                                                    slider.pause();
                                                                });
                                                            }
                                                        }).parent().find('.tb-loader').fadeOut();
                                                        
                                                        // Custom pause on hover funtionality
                                                        $('#tb-slider-home').hover(
                                                        function() {
                                                            $('#tb-slider-home .flex-pause').hide();
                                                            $('#tb-slider-home .flex-play').show();
                                                            $('#tb-slider-home .flexslider').flexslider('pause');
                                                        }, 
                                                        function() {
                                                        }
                                                        );
                                                        
                                                    });
                                                });
                                            </script>
                                            <div id="tb-slider-home" class="slider-wrapper standard-slider-wrapper slider_has_mobile_fallback">
                                                <div class="slider-inner show-nav_standard hide-nav_arrows hide-pause_play">
                                                    <div class="slides-wrapper slides-wrapper-home">
                                                        <div class="slides-inner">
                                                            <div class="slider standard-slider flexslider" style="height: 290px;">
                                                                <div class="tb-loader" style="display: none;"></div>
                                                                <ul class="slides">
                                                                    <li class="slide tight media-align-right image-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                                                                        <div class="slide-body">
                                                                            <div class="grid-protection">
                                                                                <div class="content grid_fifth_2">
                                                                                    <div class="content-inner">
                                                                                        <div class="slide-title"><span><img src="{{STATIC_URL}}img/title-home-slide1.png" alt="What is your goal"></span></div>
                                                                                        <div class="slide-description">
                                                                                            <span>
                                                                                                <p class="slide-description-text">Sport. Health. Looks. Endurance. Family. We know your goal is personal, that’s why we personalize your gym experience. It’s all a part of our mission to help you Know Your Own Strength.<br><br></p>
                                                                                                <div id="gg-slider-container">
                                                                                                    <br>
                                                                                                    <div id="form-goals">
                                                                                                        <fieldset>
                                                                                                            <span class="submit-wrap">
                                                                                                                <div class="style_select select-slider">
                                                                                                                    <select id="goal-form">
                                                                                                                        <option>My goal is ...</option>
                                                                                                                        <option value="build_muscle">Build Muscle</option>
                                                                                                                        <option value="improve_cardiovascular">Improve Cardio</option>
                                                                                                                        <option value="increase_endurance">Increase Endurance</option>
                                                                                                                        <option value="increase_flexibility">Increase Flexibility</option>
                                                                                                                        <option value="increase_strength">Increase Strength</option>
                                                                                                                        <option value="lose_weight">Lose Weight</option>
                                                                                                                        <option value="improve_overall_health">Overall Health</option>
                                                                                                                        <option value="relieve_stress">Relieve Stress</option>
                                                                                                                    </select>
                                                                                                                </div>
                                                                                                            </span>
                                                                                                            <span class="input-wrap">
                                                                                                                <input type="submit" class="btn-alert" value="CREATE MY PLAN">
                                                                                                            </span>
                                                                                                        </fieldset>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <p></p>
                                                                                            </span>
                                                                                        </div>
                                                                                        <!-- .description (end) -->
                                                                                    </div>
                                                                                    <!-- .content-inner (end) -->
                                                                                </div>
                                                                                <!-- .content (end) -->
                                                                                <div class="media image grid_fifth_3">
                                                                                    <div class="media-inner">
                                                                                        <img src="{{STATIC_URL}}img/Home_slider_goal21.jpg" alt="Home_slider_goal2">
                                                                                    </div>
                                                                                    <!-- .media-inner (end) -->
                                                                                </div>
                                                                                <!-- .media (end) -->
                                                                            </div>
                                                                            <!-- .grid-protection (end) -->
                                                                        </div>
                                                                        <!-- .slide-body (end) -->
                                                                    </li>
                                                                    <li class="slide tight media-full image-slide full-image" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
                                                                        <div class="slide-body">
                                                                            <div class="grid-protection">
                                                                                <div class="content">
                                                                                    <div class="content-inner">
                                                                                        <div class="slide-description">
                                                                                            <span>
                                                                                                <p class="slide-description-text"></p>
                                                                                                <div class="bottom-position">
                                                                                                    Our only goal is to help you realize yours. Here, you can join a gym, try a class, browse<br>articles on health and fitness from our world-class experts and so much more. It’s all a<br>part of our mission to make the world a stronger place. 
                                                                                                </div>
                                                                                                <p></p>
                                                                                            </span>
                                                                                        </div>
                                                                                        <!-- .description (end) -->
                                                                                    </div>
                                                                                    <!-- .content-inner (end) -->
                                                                                </div>
                                                                                <!-- .content (end) -->
                                                                                <div class="media image">
                                                                                    <div class="media-inner">
                                                                                        <img src="{{STATIC_URL}}img/Feature4.jpg" alt="Feature4">
                                                                                    </div>
                                                                                    <!-- .media-inner (end) -->
                                                                                </div>
                                                                                <!-- .media (end) -->
                                                                            </div>
                                                                            <!-- .grid-protection (end) -->
                                                                        </div>
                                                                        <!-- .slide-body (end) -->
                                                                    </li>
                                                                    <li class="slide tight media-full image-slide full-image flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
                                                                        <div class="slide-body">
                                                                            <div class="grid-protection">
                                                                                <div class="content">
                                                                                    <div class="content-inner">
                                                                                        <div class="slide-description">
                                                                                            <span>
                                                                                                <p class="slide-description-text"></p>
                                                                                                <div class="bottom-position">
                                                                                                    
                                                                                                    Приходя к нам Вы получаете не просто зал, а многогранный фитнесс-подход<br> 
                                                                                                    включающийй высокий уровень комфорта, услуги лучших тренеров,<br>
                                                                                                    высококачественное оборудование. 
                                                                                                    Нажмите на ссылку ниже,<br>
                                                                                                    чтобы найти ближайший к Вам зал VIP GYM CLUB<br>
                                                                                                    <a href="http://www.vipgymclub.com.ua/locate-a-gym/?echo_flag=join" class="btn-alert">Записаться</a>
                                                                                                </div>
                                                                                                <p></p>
                                                                                            </span>
                                                                                        </div>
                                                                                        <!-- .description (end) -->
                                                                                    </div>
                                                                                    <!-- .content-inner (end) -->
                                                                                </div>
                                                                                <!-- .content (end) -->
                                                                                <div class="media image">
                                                                                    <div class="media-inner">
                                                                                        <img src="{{STATIC_URL}}img/Homeslider_join2.jpg" alt="Homeslider_join2">
                                                                                    </div>
                                                                                    <!-- .media-inner (end) -->
                                                                                </div>
                                                                                <!-- .media (end) -->
                                                                            </div>
                                                                            <!-- .grid-protection (end) -->
                                                                        </div>
                                                                        <!-- .slide-body (end) -->
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!-- .slider (end) -->
                                                        </div>
                                                        <!-- .slides-inner (end) -->					
                                                        <ol class="flex-control-nav flex-control-paging" data-ovi-hasaddedvoiceinputfunction="true" x-webkit-speech="" speech="" lang="en-US">
                                                            <li><a class="">1</a></li>
                                                            <li><a class="">2</a></li>
                                                            <li><a class="flex-active">3</a></li>
                                                        </ol>
                                                    </div>
                                                    <!-- .slides-wrapper (end) -->
                                                </div>
                                                <!-- .slider-inner (end) -->
                                                <div class="design-1"></div>
                                                <div class="design-2"></div>
                                                <div class="design-3"></div>
                                                <div class="design-4"></div>
                                            </div>
                                            <!-- .slider-wrapper (end) -->
                                            <div class="slider-fallback">
                                                <div class="slider-fallback-inner first_slide">
                                                    <ul class="slider-fallback-list">
                                                        <li class="slider-fallback-slide">
                                                            <div class="slider-fallback-slide-body">
                                                                <h2><img src="{{STATIC_URL}}img/title-home-slide1.png" alt="What is your goal"></h2>
                                                                <img src="{{STATIC_URL}}img/Home_slider_goal21.jpg" alt="Home_slider_goal2">
                                                                <p class="slide-description-text">Sport. Health. Looks. Endurance. Family. We know your goal is personal, that’s why we personalize your gym experience. It’s all a part of our mission to help you Know Your Own Strength.<br><br></p>
                                                                <div id="gg-slider-container"><br></div>
                                                                <p></p>
                                                            </div>
                                                            <!-- .slider-fallback-slide-body (end) -->
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- .slider-fallback-inner (end) -->
                                            </div>
                                            <!-- .slider-fallback(end) -->
                                        </div>
                                        <!-- .grid-protection (end) -->
                                    </div>
                                    <!-- .element-inner-wrap (end) -->
                                </div>
                                <!-- .element-inner (end) -->
                            </div>
                            <!-- .element (end) -->                                
                        </div>
                        <div class="box-side-nav">
                            <ul id="promotion-buttons-vertical" class="pbv">
                                <li class="left"><a class="box-side-link" href="http://www.vipgymclub.com.ua/locate-a-gym/?echo_flag=join">Присоединиться<br>сегодня</a></li>
                                <li class="center"><a class="box-side-link" href="http://www.vipgymclub.com.ua/locate-a-gym/?echo_flag=vip">БЕСПЛАТНЫЙ VIP<br> ВХОД</a></li>
                                <li class="right"><a class="box-side-link" href="http://www.vipgymclub.com.ua/locate-a-gym/?echo_flag=class">БЕСПЛАТНЫЙ ВХОД <br>НА ЗАНЯТИЕ</a></li>
                            </ul>
                        </div>
                    </article>
                    <div class="clear"></div>
                    <div>
                        <header class="entry-header">
                            <h1 class="entry-title">Становитесь сильнее вместе с VIP GYM CLUB</h1>
                        </header>
                    </div>
                    <div>
                        <div class="tabberlive style2">
                            <ul class="tabbernav">
                                <li class="tabberactive"><a href="javascript:void(null);" title="Classes">Группы</a></li>
                                <li class=""><a href="javascript:void(null);" title="Fitness Tools">Оборудование</a></li>
                                <li class=""><a href="javascript:void(null);" title="Programs">Программы</a></li>
                                <li class=""><a href="javascript:void(null);" title="Amenities">Комфорт-услуги</a></li>
                                <li class=""><a href="javascript:void(null);" title="Corporate Wellness Program">Комплекная программа</a></li>
                                <li class=""><a href="javascript:void(null);" title="оборудование PRO-GYM">Оборудование PRO-GYM</a></li>
                            </ul>
                            <div id="ggclasseswidget-2" class="tabbertab  " title="">
                                <h3 class="widget-title section-title">Classes</h3>
                                <div class="entry-content">
                                    <div class="two-columns">
                                        <article id="search-classes-image">
                                            <img src="{{STATIC_URL}}img/Tab_classes1.jpeg" class="wp-post-image" alt=""> 
                                        </article>
                                        <article id="search-classes-form">
                                            <div class="search-classes">
                                                <h4 class="sub-title">Группы для любого уровня подготовки.</h4>
                                                <p>Find your gym by location to see all of the available classes.</p>
                                                <form action="http://www.vipgymclub.com.ua/locate-a-gym/" method="get">
                                                    <input type="text" name="query" placeholder="Enter Address, City, State or Zip Code" data-ovi-hasaddedvoiceinputfunction="true" x-webkit-speech="" speech="" lang="en-US">
                                                    <div class="style_select margin-top-10">
                                                        <select id="milesRadius" name="radius">
                                                            <option>Locations Within</option>
                                                            <option value="5">5 Miles</option>
                                                            <option value="10">10 Miles</option>
                                                            <option value="25">25 Miles</option>
                                                            <option value="50">50 Miles</option>
                                                        </select>
                                                    </div>
                                                    <!-- <select name="list-classname" id="list-classname">
                                                        <option value="0">Class Name</option>
                                                    </select> -->
                                                    <input type="submit" value="SEARCH" class="position-bottom-right">
                                                </form>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div id="twocolumncalloutwidget-12" class="tabbertab  tabbertabhide" title="">
                                <h2 class="show-home-only" style="display:none">Fitness Tools</h2>
                                <div class="clear"> </div>
                                <div class="two-columns fx-two-columns">
                                    <article id="post-1643">
                                        <div class="entry-content">
                                            <img width="294" height="112" src="{{STATIC_URL}}img/Tab_fitnesstools011.jpeg" class="img-max-width wp-post-image" alt="Tab_fitnesstools01"> 
                                            <h2>Workout Builder</h2>
                                            <p></p>
                                            <p style="min-height:55px">Get a custom fitness plan designed around your body type and fitness level.</p>
                                            <p></p>
                                            <div class="btn-container">
                                                <a class="btn-alert" target="_blank" href="http://www.vipgymclub.com.ua/strength-with-knowledge/fitness-tools/#wbForm">START</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article id="post-1646">
                                        <div class="entry-content">
                                            <img width="294" height="111" src="{{STATIC_URL}}img/Tab_fitnesstools02.jpeg" class="img-max-width wp-post-image" alt="Tab_fitnesstools02"> 
                                            <h2>Spotter App</h2>
                                            <p></p>
                                            <p style="min-height:55px">Download the Spotter App to track your progress, set goals, view class schedules and get instant motivation.</p>
                                            <a title="iphone app" href="https://itunes.apple.com/us/app/spotter-by-vip-gym/id381615084?mt=8" class="btn-alert pull-right" target="_blank">FOR IPHONE</a>
                                            <p></p>
                                            <div class="btn-container">
                                                <a class="btn-alert" target="_blank" href="https://play.google.com/store/apps/details?id=com.vipgym.android.spotter&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5nb2xkc2d5bS5hbmRyb2lkLnNwb3R0ZXIiXQ">FOR ANDROID</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div id="gggetcustompostwidget-3" class="tabbertab  tabbertabhide" title="">
                                <h3 class="widget-title section-title">Programs</h3>
                                <div class="container-custom-post">
                                    <div class="tab-custom-post post-program">
                                        <article id="post-1105" class="small-article" style="width:20%">
                                            <h3>VIP GYM CLUB Challenge</h3>
                                            <img width="215" height="196" src="{{STATIC_URL}}img/Challenge.jpeg" class="small-img wp-post-image" alt="Challenge">                                                                                            <span>06.25.2013</span>
                                            <p>Every year, VIP GYM CLUB challenges our members to transform their body in 12 weeks.</p>
                                            <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/vip-gym-challenge/" alt="">Learn More</a>
                                            <div class="clear"></div>
                                        </article>
                                        <article id="post-1149" class="small-article" style="width:20%">
                                            <h3>Tour de Cure</h3>
                                            <img width="215" height="141" src="{{STATIC_URL}}img/Tab_programs21.jpeg" class="small-img wp-post-image" alt="Tab_programs2">                                                                                            <span>06.25.2013</span>
                                            <p>VIP GYM CLUB is a proud participant of the ADA Tour de Cure fund-raiser to defeat diabetes.</p>
                                            <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/tour-de-cure/" alt="">Learn More</a>
                                            <div class="clear"></div>
                                        </article>
                                        <article id="post-1108" class="small-article" style="width:20%">
                                            <h3>Коммьюнити</h3>
                                            <img width="215" height="196" src="{{STATIC_URL}}img/vipNation.jpeg" class="small-img wp-post-image" alt="vipNation">                                                                                            <span>06.25.2013</span>
                                            <p>Join our online community for free and earn free оборудование PRO-GYM, gift cards and more just for spreading the word to your friends.</p>
                                            <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/vip-nation/" alt="">Learn More</a>
                                            <div class="clear"></div>
                                        </article>
                                        <article id="post-1107" class="small-article" style="width:20%">
                                            <h3>Образовательные вебинары для членов</h3>
                                            <img width="215" height="196" src="{{STATIC_URL}}img/Webinar.jpeg" class="small-img wp-post-image" alt="Webinar">                                                                                            <span>06.24.2013</span>
                                            <p>Ежемесячные мотивационные публикации от профессионалов фитнесса</p>
                                            <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/fitness-webinars/" alt="">Learn More</a>
                                            <div class="clear"></div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div id="ggameniteswidget-2" class="tabbertab  tabbertabhide" title="">
                                <h3 class="widget-title section-title">Amenities</h3>
                                <div class="entry-content">
                                    <div class="two-columns">
                                        <article id="amenities-image">
                                            <div class="amenities-description">
                                                <!-- <h4 class="sub-title">Cardio Cinema</h4>
                                                    <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                                                <a href="#" class="amenities-link">Find classes nearby ></a> -->
                                            </div>
                                        </article>
                                        <article id="amenites-form">
                                            <div class="amenites">
                                                <h4 class="sub-title">Залы для ВСЕХ</h4>
                                                <p>Искать зал рядом с Вами</p>
                                                <form action="http://www.vipgymclub.com.ua/locate-a-gym/" method="get">
                                                    <input type="text" name="query" placeholder="Enter Address, City, State or Zip Code">
                                                    <div class="style_select margin-top-10">
                                                        <select id="milesRadius" name="radius">
                                                            <option>Locations Within</option>
                                                            <option value="5">5 Miles</option>
                                                            <option value="10">10 Miles</option>
                                                            <option value="25">25 Miles</option>
                                                            <option value="50">50 Miles</option>
                                                        </select>
                                                    </div>
                                                    <!-- <select name="list-amenities" id="list-amenities">
                                                        <option value="0">Amenity</option>
                                                    </select> -->
                                                    <input type="submit" value="SEARCH" class="position-bottom-right">
                                                </form>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div id="twocolumncalloutwidget-10" class="tabbertab  tabbertabhide" title="">
                                <div class="clear"> </div>
                                <div class="two-columns fx-two-columns">
                                    <article id="post-1035">
                                        <div class="entry-content">
                                            <h2 class="border-bottom uppercase">Corporate Wellness Program</h2>
                                            <p>Keep your entire company strong.</p>
                                            <img width="476" height="248" src="{{STATIC_URL}}img/Tab_corpwell111.jpeg" class="img-max-width wp-post-image" alt="Tab_corpwell11"> 
                                            <div class="btn-container">
                                                <a class="pull-right btn-alert" target="" href="http://www.vipgymclub.com.ua/why-vip-gym/corporate-wellness/">Learn More</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article id="post-1625">
                                        <div class="entry-content">
                                            <h2 class="border-bottom uppercase">Group Membership Program</h2>
                                            <p>Find strength in numbers.</p>
                                            <img width="477" height="248" src="{{STATIC_URL}}img/Tab_corpwell212.jpeg" class="img-max-width wp-post-image" alt="Tab_corpwell21"> 
                                            <div class="btn-container">
                                                <a class="pull-right btn-alert" target="" href="http://www.vipgymclub.com.ua/why-vip-gym/corporate-wellness/">Learn More</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div id="twocolumncalloutwidget-11" class="tabbertab  tabbertabhide" title="">
                                <h2 class="show-home-only" style="display:none">оборудование PRO-GYM</h2>
                                <div class="clear"> </div>
                                <div class="two-columns fx-two-columns">
                                    <article id="post-1636">
                                        <div class="entry-content">
                                            <h2 class="border-bottom uppercase">Apparel and Merchandise</h2>
                                            <p>Show how strong you are, everywhere you are.</p>
                                            <img width="477" height="294" src="{{STATIC_URL}}img/Tab_Gear.jpg" class="img-max-width wp-post-image" alt="Tab_Gear"> 
                                            <div class="btn-container">
                                                <a class="pull-right btn-alert" target="_blank" href="http://vipgear.com/">Shop</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article id="post-1637">
                                        <div class="entry-content">
                                            <h2 class="border-bottom uppercase">Fitness Equipment</h2>
                                            <p>Bring strength right to your home with VIP GYM CLUB personal fitness equipment.</p>
                                            <img width="477" height="294" src="{{STATIC_URL}}img/Tab_equipment.jpg" class="img-max-width wp-post-image" alt="Tab_equipment"> 
                                            <div class="btn-container">
                                                <a class="pull-right btn-alert" target="_blank" href="http://www.getvipgym.com/">Shop</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% section_header 'Новости VIP GYM CLUB' %}
                    {%include "core/news.html" %}
                </div>
                <!-- article wrap (end)-->
            </div>
            <!-- .inner (end) -->
        </div>
        <!-- #content (end) -->
        <!-- CONTENT (end) -->  
    </div>
    <!-- .grid-protection (end) -->
</div>
<!-- .sidebar_layout-inner (end) -->
</div>
{% endblock pagecontent %}
