<div>
    <div class="container-custom-post">
        <div class="list-custom-post post-newsletters">
            <div id="post-1107" class="entry-content">
                <div id="post-3898" class="">
                    <h3 style="display: block !important; color: #f9e300;text-transform: uppercase;border: none;">Подоборака новостей Ноябрь 2013</h3>
                    <span>11.04.2013</span>
                    <a href="http://www.vipgymclub.com.ua/newsletters/newsletter-nov-2013/" alt="">Узнать больше</a>
                    <div class="clear"></div>
                </div>
                <a class="btn-alert pull-right" href="http://www.vipgymclub.com.ua/newsletters/" alt=""> Больше статей </a>
            </div>
        </div>
    </div>
</div>