<form class="responsive-nav" action="" method="post">
            <div class="style_select">
                <select class="tb-jump-menu">
                    <option value="">Навигация</option>
                    <option value="http://www.vipgymclub.com.ua/get-started/">Начать</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/">Почему  VIP GYM CLUB</option>
                    <option value="#">custmo-menu-services1</option>
                    <option value="#">image</option>
                    <option value="#">custmo-menu-services0</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/">Почему VIP GYM CLUB</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/about-vip/">О VIP GYM CLUB</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/about-vip/press-room/">Пресс Комната</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/about-vip/careers/">Карьера у нас</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/about-vip/franchise-opportunities/">Вакансии</option>
                    <option value="#">custmo-menu-services2</option>
                    <option value="http://www.vipgymclub.com.ua/strength-with-knowledge/fitness-tools/">Фитнесс оборудование</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/programs/">наши программы</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/amenities/">Условия в залах</option>
                    <option value="#">custom-menu-services3</option>
                    <option value="http://www.vipgymclub.com.ua/why-vip-gym/corporate-wellness/">Корпоративные программы</option>
                    <option value="http://www.vipgymclub.com.ua/classes/">Наши группы</option>
                    
                    <option value="http://www.vipgymclub.com.ua/locate-a-gym/">Найти зал</option>
                    <option value="http://www.vipgymclub.com.ua/classes/">FIND  A Class</option>
                    <option value="http://current-site-url/calendar/">Gym Schedule</option>
                    <option value="#">custmo-menu-services1</option>
                    <option value="#">Image</option>
                    <option value="#">custmo-menu-services2</option>
                    <option value="http://current-site-url/calendar/">Gym Schedule</option>
                    <option value="http://current-site-url/cardio-cinema-schedule/">Cardio Cinema</option>
                    <option value="http://www.vipgymclub.com.ua/our-trainers/">Our Personal  Trainers </option>
                    <option value="http://current-site-url/trainer/">Gym Personal Trainers</option>
                    <option value="http://www.vipgymclub.com.ua/strength-with-knowledge/">Strength  with Knowledge</option>
                    <option value="#">custmo-menu-services1</option>
                    <option value="#">Image</option>
                    <option value="#">Library</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/lose_weight/">Lose Weight</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/build_muscle/">Build Muscle</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/improve_cardiovascular/">Improve Cardio</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/increase_strength/">Increase Strength</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/increase_endurance/">Increase Endurance</option>
                    <option value="#">Library 2</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/increase_flexibility/">Increase Flexibility</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/relieve_stress/">Relieve Stress</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/improve_overall_health/">Overall Health</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/all_about_nutrition/">All About Nutrition</option>
                    <option value="http://www.vipgymclub.com.ua/article_category/just_for_fun/">Just For Fun</option>
                    <option value="#">Menu Item</option>
                    <option value="http://www.vipgymclub.com.ua/our-feeds/">Our Social Feeds</option>
                    <option value="http://www.vipgymclub.com.ua/strength-with-knowledge/fitness-tools/">Fitness Tools</option>
                </select>
            </div>
        </form>