<div class="style2 nav nav-tabs">
    <ul class="tabbernav nav nav-tabs">
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#1;" data-toggle="tab" title="Classes">Группы</a></li>
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#2" data-toggle="tab" title="Fitness Tools">Оборудование</a></li>
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#3" data-toggle="tab" title="Programs">Программы</a></li>
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#4" data-toggle="tab" title="Amenities">Комфорт-услуги</a></li>
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#5" data-toggle="tab" title="Corporate Wellness Program">Комплекная программа</a></li>
        <li class="col-lg-2 col-md-4 col-sm-6"><a href="#6" data-toggle="tab" title="оборудование PRO-GYM">Оборудование PRO-GYM</a></li>
    </ul>
</div>    
<div>
    
    <div class="tab-content">
        <div id="1" class="tab-pane" title="">
            <h3 class="widget-title section-title">Classes</h3>
            <div class="entry-content">
                <div class="two-columns">
                    <article id="search-classes-image">
                        <img src="{{STATIC_URL}}img/Tab_classes1.jpeg" class="wp-post-image" alt=""> 
                    </article>
                    <article id="search-classes-form">
                        <div class="search-classes">
                            <h4 class="sub-title">Группы для любого уровня подготовки.</h4>
                            <p>Find your gym by location to see all of the available classes.</p>
                            <form action="http://www.vipgymclub.com.ua/locate-a-gym/" method="get">
                                <input type="text" name="query" placeholder="Enter Address, City, State or Zip Code" data-ovi-hasaddedvoiceinputfunction="true" x-webkit-speech="" speech="" lang="en-US">
                                <div class="style_select margin-top-10">
                                    <select id="milesRadius" name="radius">
                                        <option>Locations Within</option>
                                        <option value="5">5 Miles</option>
                                        <option value="10">10 Miles</option>
                                        <option value="25">25 Miles</option>
                                        <option value="50">50 Miles</option>
                                    </select>
                                </div>
                                <!-- <select name="list-classname" id="list-classname">
                                    <option value="0">Class Name</option>
                                </select> -->
                                <input type="submit" value="SEARCH" class="position-bottom-right">
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div id="2" class="tabbertab  tabbertabhide" title="">
            <h2 class="show-home-only" style="display:none">Fitness Tools</h2>
            <div class="clear"> </div>
            <div class="two-columns fx-two-columns">
                <article id="post-1643">
                    <div class="entry-content">
                        <img width="294" height="112" src="{{STATIC_URL}}img/Tab_fitnesstools011.jpeg" class="img-max-width wp-post-image" alt="Tab_fitnesstools01"> 
                        <h2>Workout Builder</h2>
                        <p></p>
                        <p style="min-height:55px">Get a custom fitness plan designed around your body type and fitness level.</p>
                        <p></p>
                        <div class="btn-container">
                            <a class="btn-alert" target="_blank" href="http://www.vipgymclub.com.ua/strength-with-knowledge/fitness-tools/#wbForm">START</a>
                        </div>
                    </div>
                </article>
                <article id="post-1646">
                    <div class="entry-content">
                        <img width="294" height="111" src="{{STATIC_URL}}img/Tab_fitnesstools02.jpeg" class="img-max-width wp-post-image" alt="Tab_fitnesstools02"> 
                        <h2>Spotter App</h2>
                        <p></p>
                        <p style="min-height:55px">Download the Spotter App to track your progress, set goals, view class schedules and get instant motivation.</p>
                        <a title="iphone app" href="https://itunes.apple.com/us/app/spotter-by-vip-gym/id381615084?mt=8" class="btn-alert pull-right" target="_blank">FOR IPHONE</a>
                        <p></p>
                        <div class="btn-container">
                            <a class="btn-alert" target="_blank" href="https://play.google.com/store/apps/details?id=com.vipgym.android.spotter&feature=search_result#?t=W251bGwsMSwxLDEsImNvbS5nb2xkc2d5bS5hbmRyb2lkLnNwb3R0ZXIiXQ">FOR ANDROID</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div id="gggetcustompostwidget-3" class="tabbertab  " title="">
            <h3 class="widget-title section-title">Programs</h3>
            <div class="container-custom-post">
                <div class="tab-custom-post post-program">
                    <article id="post-1105" class="small-article" style="width:20%">
                        <h3>VIP GYM CLUB Challenge</h3>
                        <img width="215" height="196" src="{{STATIC_URL}}img/Challenge.jpeg" class="small-img wp-post-image" alt="Challenge">                                                                                            <span>06.25.2013</span>
                        <p>Every year, VIP GYM CLUB challenges our members to transform their body in 12 weeks.</p>
                        <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/vip-gym-challenge/" alt="">Learn More</a>
                        <div class="clear"></div>
                    </article>
                    <article id="post-1149" class="small-article" style="width:20%">
                        <h3>Tour de Cure</h3>
                        <img width="215" height="141" src="{{STATIC_URL}}img/Tab_programs21.jpeg" class="small-img wp-post-image" alt="Tab_programs2">                                                                                            <span>06.25.2013</span>
                        <p>VIP GYM CLUB is a proud participant of the ADA Tour de Cure fund-raiser to defeat diabetes.</p>
                        <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/tour-de-cure/" alt="">Learn More</a>
                        <div class="clear"></div>
                    </article>
                    <article id="post-1108" class="small-article" style="width:20%">
                        <h3>Коммьюнити</h3>
                        <img width="215" height="196" src="{{STATIC_URL}}img/vipNation.jpeg" class="small-img wp-post-image" alt="vipNation">                                                                                            <span>06.25.2013</span>
                        <p>Join our online community for free and earn free оборудование PRO-GYM, gift cards and more just for spreading the word to your friends.</p>
                        <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/vip-nation/" alt="">Learn More</a>
                        <div class="clear"></div>
                    </article>
                    <article id="post-1107" class="small-article" style="width:20%">
                        <h3>Образовательные вебинары для членов</h3>
                        <img width="215" height="196" src="{{STATIC_URL}}img/Webinar.jpeg" class="small-img wp-post-image" alt="Webinar">                                                                                            <span>06.24.2013</span>
                        <p>Ежемесячные мотивационные публикации от профессионалов фитнесса</p>
                        <a class=" btn-alert position-bottom-right" href="http://www.vipgymclub.com.ua/program/fitness-webinars/" alt="">Learn More</a>
                        <div class="clear"></div>
                    </article>
                </div>
            </div>
        </div>
        <div id="ggameniteswidget-2" class="tabbertab  tabbertabhide" title="">
            <h3 class="widget-title section-title">Amenities</h3>
            <div class="entry-content">
                <div class="two-columns">
                    <article id="amenities-image">
                        <div class="amenities-description">
                            <!-- <h4 class="sub-title">Cardio Cinema</h4>
                                <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
                                <a href="#" class="amenities-link">Find classes nearby ></a> -->
                            </div>
                        </article>
                        <article id="amenites-form">
                            <div class="amenites">
                                <h4 class="sub-title">Залы для ВСЕХ</h4>
                                <p>Искать зал рядом с Вами</p>
                                <form action="http://www.vipgymclub.com.ua/locate-a-gym/" method="get">
                                    <input type="text" name="query" placeholder="Enter Address, City, State or Zip Code">
                                    <div class="style_select margin-top-10">
                                        <select id="milesRadius" name="radius">
                                            <option>Locations Within</option>
                                            <option value="5">5 Miles</option>
                                            <option value="10">10 Miles</option>
                                            <option value="25">25 Miles</option>
                                            <option value="50">50 Miles</option>
                                        </select>
                                    </div>
                                <!-- <select name="list-amenities" id="list-amenities">
                                    <option value="0">Amenity</option>
                                </select> -->
                                <input type="submit" value="SEARCH" class="position-bottom-right">
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div id="twocolumncalloutwidget-10" class="tabbertab  tabbertabhide" title="">
            <div class="clear"> </div>
            <div class="two-columns fx-two-columns">
                <article id="post-1035">
                    <div class="entry-content">
                        <h2 class="border-bottom uppercase">Corporate Wellness Program</h2>
                        <p>Keep your entire company strong.</p>
                        <img width="476" height="248" src="{{STATIC_URL}}img/Tab_corpwell111.jpeg" class="img-max-width wp-post-image" alt="Tab_corpwell11"> 
                        <div class="btn-container">
                            <a class="pull-right btn-alert" target="" href="http://www.vipgymclub.com.ua/why-vip-gym/corporate-wellness/">Learn More</a>
                        </div>
                    </div>
                </article>
                <article id="post-1625">
                    <div class="entry-content">
                        <h2 class="border-bottom uppercase">Group Membership Program</h2>
                        <p>Find strength in numbers.</p>
                        <img width="477" height="248" src="{{STATIC_URL}}img/Tab_corpwell212.jpeg" class="img-max-width wp-post-image" alt="Tab_corpwell21"> 
                        <div class="btn-container">
                            <a class="pull-right btn-alert" target="" href="http://www.vipgymclub.com.ua/why-vip-gym/corporate-wellness/">Learn More</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div id="twocolumncalloutwidget-11" class="tabbertab  tabbertabhide" title="">
            <h2 class="show-home-only" style="display:none">оборудование PRO-GYM</h2>
            <div class="clear"> </div>
            <div class="two-columns fx-two-columns">
                <article id="post-1636">
                    <div class="entry-content">
                        <h2 class="border-bottom uppercase">Apparel and Merchandise</h2>
                        <p>Show how strong you are, everywhere you are.</p>
                        <img width="477" height="294" src="{{STATIC_URL}}img/Tab_Gear.jpg" class="img-max-width wp-post-image" alt="Tab_Gear"> 
                        <div class="btn-container">
                            <a class="pull-right btn-alert" target="_blank" href="http://vipgear.com/">Shop</a>
                        </div>
                    </div>
                </article>
                <article id="post-1637">
                    <div class="entry-content">
                        <h2 class="border-bottom uppercase">Fitness Equipment</h2>
                        <p>Bring strength right to your home with VIP GYM CLUB personal fitness equipment.</p>
                        <img width="477" height="294" src="{{STATIC_URL}}img/Tab_equipment.jpg" class="img-max-width wp-post-image" alt="Tab_equipment"> 
                        <div class="btn-container">
                            <a class="pull-right btn-alert" target="_blank" href="http://www.getvipgym.com/">Shop</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>